<div class="d-flex justify-content-md-center align-items-center vh-100">
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to 'ActiveAdmin', active_admin_root_path %>
    </li>
    <li class="list-group-item">
      <%= link_to 'RailsAdmin', rails_admin_path %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Administrate', admin_root_path %>
    </li>
  </ul>
</div>
