<ul>
  <li>
    <%= link_to 'ActiveAdmin', active_admin_root_path %>
  </li>
  <li>
    <%= link_to 'RailsAdmin', rails_admin_path %>
  </li>
  <li>
    <%= link_to 'Administrate', admin_root_path %>
  </li>
</ul>
